.nav__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  position: fixed;
  right: 0;
  z-index: 10;
}
.nav__bar:hover {
  background-color: #000;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
}
.nav__bar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
}

.nav__bar ul li {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.nav__bar ul li:hover {
  color: #d37506;
}
.side__menu {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.side__menu button {
  color: white;
  border: 2px solid white;
  padding: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.side__menu button:hover {
  background-color: white;
  color: #000;
}
.burger__menu {
  font-size: 2rem;
  border-left: 1px solid white;
  padding-left: 1.5rem;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

@media (max-width: 1092px) {
  .logo {
    padding: 1rem;
    font-size: 1.6rem;
  }
  .side__menu button {
    padding: 0.4rem;
  }
}

@media (max-width: 555px) {
  .ss{
    display: none;
  }
  .nav__bar{
    left: 0;
    right: auto;
  }
}
